# charge_only_mode
type chargeonly_data_file, file_type, data_file_type;

# FSG
type fsg_file, fs_type, contextmount_type;

# debugfs
type debugfs_rmt_storage, debugfs_type, fs_type;

# RIL
type cutback_data_file, file_type, data_file_type;

# /dev/socket needs to be file_type so init can create
type adspd_socket, file_type;
type cutback_socket, file_type;

# sysfs
type sysfs_mmi_fp, fs_type, sysfs_type;
type sysfs_mmi_laser, fs_type, sysfs_type;
type sysfs_mmi_touch, fs_type, sysfs_type;
type sysfs_mods_camd, fs_type, sysfs_type;
type sysfs_wcnsscore, fs_type, sysfs_type;

# Greybus
type sysfs_greybus, fs_type, sysfs_type, mlstrustedobject;
type sysfs_greybus_media, fs_type, sysfs_type, mlstrustedobject;
type gbfirmware_file, file_type, data_file_type, mlstrustedobject;
type sysfs_mods_camd, fs_type, sysfs_type, mlstrustedobject;
type sysfs_v4l2_openmode, fs_type, sysfs_type, mlstrustedobject;
type sysfs_batt_mods, fs_type, sysfs_type, mlstrustedobject;

type vendor_keylayout_file, file_type, data_file_type;
