# charge_only_mode
type chargeonly_data_file, file_type, data_file_type;

# FSG
type fsg_file, fs_type, contextmount_type;

# debugfs
type debugfs_rmt_storage, debugfs_type, fs_type;

# RIL
type cnd_legacy_data_file, file_type, data_file_type, core_data_file_type;
type cutback_data_file, file_type, data_file_type, core_data_file_type;

# /dev/socket needs to be file_type so init can create
type adspd_socket, file_type;
type cutback_socket, file_type;

# sysfs
type sysfs_mmi_fp, fs_type, sysfs_type;
type sysfs_mmi_laser, fs_type, sysfs_type;
type sysfs_mmi_touch, fs_type, sysfs_type;
type sysfs_mods_camd, fs_type, sysfs_type;
type sysfs_wcnsscore, fs_type, sysfs_type;
type sysfs_msm_subsys, sysfs_type, fs_type;
type sysfs_camera, sysfs_type, file_type;

# Greybus
type sysfs_greybus, fs_type, sysfs_type, mlstrustedobject;
type sysfs_greybus_media, fs_type, sysfs_type, mlstrustedobject;
type gbfirmware_file, file_type, data_file_type, mlstrustedobject;
type sysfs_v4l2_openmode, fs_type, sysfs_type, mlstrustedobject;
type sysfs_batt_mods, fs_type, sysfs_type, mlstrustedobject;

type vendor_keylayout_file, file_type, vendor_file_type;

# Power
type perfd_data_file, file_type, data_file_type, core_data_file_type;
type proc_irq, fs_type, proc_type;
type proc_kernel_sched, fs_type, proc_type;
type sysfs_power_management, sysfs_type, fs_type;

#sensors
type sensors_data_file, file_type, data_file_type;

#Battery
type persist_battery_file, file_type;

