#=============Greybus mods install=====================
type gbmodinstall, domain, domain_deprecated;
type gbmodinstall_exec, exec_type, file_type;
init_daemon_domain(gbmodinstall)

allow gbmodinstall ctl_mods_camd_prop:property_service set;
allow gbmodinstall init:unix_stream_socket connectto;
allow gbmodinstall property_socket:sock_file write;
allow gbmodinstall self:capability sys_module;
allow gbmodinstall shell_exec:file rx_file_perms;
allow gbmodinstall system_file:file execute_no_trans;
allow gbmodinstall system_file:system module_load;
allow gbmodinstall toolbox_exec:file rx_file_perms;


# Logs to /dev/kmsg
allow gbmodinstall kmsg_device:chr_file w_file_perms;
