allow hal_sensors_default sensors_device:chr_file read;
allow hal_sensors_default system_data_file:file read;
allow hal_sensors_default sysfs_mmi_laser:dir search;
allow hal_sensors_default sysfs_mmi_laser:file { open write };
