allow hal_nfc_default system_data_file:dir add_name;
allow hal_nfc_default system_data_file:file r_file_perms;

# Data file accesses.
allow hal_nfc_default nfc_vendor_data_file:dir create_dir_perms;
allow hal_nfc_default nfc_vendor_data_file:file create_file_perms;
