allow init adsprpcd_file:filesystem { getattr mount relabelfrom relabelto };

allow init audio_device:chr_file { write ioctl };
allow init input_device:chr_file ioctl;
allow init sensors_device:chr_file { write ioctl };
allow init tee_device:chr_file { write ioctl };

allow init debugfs:file write;
allow init firmware_file:dir mounton;

allow init graphics_device:chr_file { read open write ioctl };
allow init hal_graphics_allocator_default:fd use;
allow init input_device:chr_file r_file_perms;
allow init init:netlink_socket { read write };
allow init ipacm_socket:sock_file rw_file_perms;
allow init self:netlink_socket { bind create };
allow init self:netlink_xfrm_socket { bind create };
allow init self:netlink_route_socket nlmsg_write;
allow init modem_efs_partition_device:blk_file write;
allow init netd:unix_stream_socket connectto;
allow init netd_socket:sock_file write;
allow init platform_app:binder { call transfer };
allow init property_socket:sock_file write;
allow init qdsp_device:chr_file ioctl;
allow init rmnet_device:chr_file write;
allow init rtc_device:chr_file ioctl;
allow init self:capability net_bind_service;
allow init self:capability2 block_suspend;
allow init self:netlink_route_socket { bind create getattr nlmsg_read read setopt write };
allow init self:rawip_socket { create getopt setopt };
allow init self:socket create_socket_perms_no_ioctl;
allow init self:udp_socket ioctl;
allow init socket_device:sock_file { create setattr unlink };
allow init sensors_device:chr_file rw_file_perms;
allow init ssd_device:blk_file write;
allow init tee_device:chr_file rw_file_perms;
allow init thermal_device:chr_file ioctl;
allow init video_device:chr_file { ioctl write read open };
allow init wcnss_device:chr_file write;
allow init system_server:fd use;
allow init system_server:binder { call transfer };
allow init system_server:unix_stream_socket { read write };
allow init ion_device:chr_file { ioctl read write };
allow init rpmb_device:blk_file write;
allow init uio_device:chr_file write;

binder_use(init)
