# /dev/msm_thermal_query
allow thermal-engine thermal_device:chr_file rw_file_perms;
# files in /sys/
r_dir_file(thermal-engine, sysfs_type)
allow thermal-engine sysfs_thermal:file rw_file_perms;
allow thermal-engine sysfs_thermal:lnk_file read;
allow thermal-engine sysfs_thermal:dir search;
# /proc/stat
allow thermal-engine proc_stat:file { getattr open read };
# reboot/shutdown for thermal limits exceeded
set_prop(thermal-engine, powerctl_prop)
# IThermal Thermal HAL
hal_server_domain(thermal-engine, hal_thermal)

allow thermal-engine sysfs_vadc_dev:dir search;
allow thermal-engine sysfs_vadc_dev:lnk_file read;
