allow untrusted_app_25 adb_data_file:dir getattr;
allow untrusted_app_25 adspd_file:dir getattr;
allow untrusted_app_25 anr_data_file:dir getattr;
allow untrusted_app_25 apk_private_data_file:dir getattr;
allow untrusted_app_25 asec_image_file:dir getattr;
allow untrusted_app_25 backup_data_file:dir getattr;
allow untrusted_app_25 block_device:dir { open read };
allow untrusted_app_25 bluetooth_data_file:dir getattr;
allow untrusted_app_25 bootchart_data_file:dir getattr;
allow untrusted_app_25 cnd_data_file:dir getattr;
allow untrusted_app_25 device:dir { open read };
allow untrusted_app_25 dpmd_data_file:dir getattr;
allow untrusted_app_25 drm_data_file:dir getattr;
allow untrusted_app_25 file_contexts_file:file getattr;
allow untrusted_app_25 fingerprintd_data_file:dir getattr;
allow untrusted_app_25 firmware_file:dir read;
allow untrusted_app_25 firmware_file:file { getattr read };
allow untrusted_app_25 firmware_file:lnk_file read;
allow untrusted_app_25 gbfirmware_file:dir getattr;
allow untrusted_app_25 hwservice_contexts_file:file getattr;
allow untrusted_app_25 init_exec:file getattr;
allow untrusted_app_25 install_data_file:file getattr;
allow untrusted_app_25 media_data_file:dir getattr;
allow untrusted_app_25 nfc_data_file:dir getattr;
allow untrusted_app_25 ota_data_file:dir getattr;
allow untrusted_app_25 ota_package_file:dir getattr;
allow untrusted_app_25 persist_file:dir getattr;
allow untrusted_app_25 property_data_file:dir getattr;
allow untrusted_app_25 radio_data_file:dir getattr;
allow untrusted_app_25 rootfs:dir { open read };
allow untrusted_app_25 seapp_contexts_file:file getattr;
allow untrusted_app_25 sepolicy_file:file getattr;
allow untrusted_app_25 service_contexts_file:file getattr;
allow untrusted_app_25 system_app_data_file:dir getattr;
allow untrusted_app_25 tombstone_data_file:dir getattr;
allow untrusted_app_25 unlabeled:dir { getattr read search };
allow untrusted_app_25 unlabeled:file getattr;
allow untrusted_app_25 vndservice_contexts_file:file getattr;
