type xperience_sh, domain;

type xperience_sh_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(xperience_sh)



# WRONG

allow xperience_sh sysfs:dir r_dir_perms;

allow xperience_sh sysfs:file rw_file_perms;

allow xperience_sh sysfs:file setattr;

allow xperience_sh sysfs:lnk_file getattr;

