#Moto mods script support
# By klozz Jesús aka TeamMEX@xda-developers

on boot
	# HAX for mods
	chmod 0660 /sys/devices/soc/soc:muc_svc@0/mods_interfaces
	chmod 0660 /sys/devices/soc/soc:muc_svc@0/mods_interfaces/3
	chmod 0660 /sys/class/vendor/mod0/pwr_up_reason
	chmod root oem_5020 /sys/devices/soc/soc:muc_svc@0/mods_interfaces
	chmod root oem_5020 /sys/devices/soc/soc:muc_svc@0/mods_interfaces/3

on post-fs-data
    # Create greybus firmware folder
    mkdir /data/gbfirmware 0770 oem_5020 oem_5020
    mkdir /data/vendor/gbfirmware 0770 oem_5020 oem_5020

on nonencrypted
    start vendor.gbmodinstall

on property:vold.decrypt=trigger_post_fs_data
    start vendor.gbmodinstall

service vendor.mods_camd /vendor/bin/mods_camd
    class late_start
    user camera
    group camera system inet input graphics
    disabled
    rlimit 14 4 4
    ioprio rt 4

service vendor.gbmodinstall /vendor/bin/init.gbmods.sh
    user root
    oneshot
    disabled

